.headingSection{
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.LengthMembers-text{
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.UserDetailSection{
  border: 1px solid white;
  display: flex;
  align-items: center;
  background-color: #161b27;
  color: #fefefe;
}