.MainDivForMyTask {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  gap: 30px;
  padding: 30px;
  flex-wrap: wrap;
}

.HeadingRow{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #3b465f;
}

.headingIcon{
  color: white;
}

.TodoDivSection {
  width: 320px;
  height: 800px;
  background: #161b27;
  border-radius: 15px;
  border: 1px solid #2b3348;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
}

.TodoDivSection::-webkit-scrollbar {
  width: 6px;
}

.TodoDivSection::-webkit-scrollbar-thumb {
  background: #3c4b6a;
  border-radius: 20px;
}

.TodoText {
  color: white;
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.TaskCard {
  background: #1e2435;
  border-radius: 18px;
  padding: 18px;
  border: 1px solid #323d57;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Title-text {
  color: #ffffff;
  margin: 0;
  font-size: 18px;
}

.Description-Text {
  color: #8f98ad;
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
}

.Buttontext {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TypeTextButton {
  background: #0b1e35;
  color: #72a0d0;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
}

.PersonNameTextButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0b1e35;
  color: #72a0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}